.reasons {
    background: #E5E5E5;
    /* padding-top: 75px; */
    padding-top: 4.6875rem;
    /* padding-bottom: 100px; */
    padding-bottom: 6.25rem;
}

.reasons__container {}

.reasons__body {
    display: flex;
    flex-direction: column;
}

.reasons__title {
    /* padding-bottom: 78px; */
    padding-bottom: 4.6875rem;
}

.reasons__title h2 {
    font-family: 'Roboto';
    font-weight: 700;
    /* font-size: 32px; */
    font-size: 2rem;
    line-height: 2.625rem;
}

.top-column {
    display: flex;
    /* flex-wrap: wrap; */
}

.top-column-left {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 517px;
    width: 100%;
    /* padding-bottom: 92px; */
    padding-bottom: 5.75rem;
    border-right: 1px solid black;
}

.tally--mod-mb4-l {
    position: relative;
    width: 202px;
    height: 40px;
    left: 30px;
    top: 0px;
}

.tally--mod-mb4-l::after {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% - 8px);
    left: -2px;
    top: 4px;
    bottom: 5px;
    background: url('../img/reasons/circle.svg') 0 0/ 4px 4px repeat-y;
}

.tally--mod-mb4-l::before {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% - 8px);
    left: 200px;
    top: 4px;
    bottom: 5px;
    background: url('../img/reasons/circle.svg') 0 0/ 4px 4px repeat-y;
}

.top-column-left__list {
    /* padding-left: 30px; */
    padding-left: 1.875rem;
    /* padding-top: 45px; */
    padding-top: 2.8125rem;
    /* padding-bottom: 63px; */
    padding-bottom: 3.9375rem;
}

.top-column-left__list-item {
    position: relative;
    max-width: 357px;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 20px; */
    line-height: 1.25rem;
    /* padding-left: 32px; */
    padding-left: 2rem;
}

.top-column-left__list-item:not(:last-child) {
    /* padding-bottom: 23px; */
    padding-bottom: 1.4375rem;
}

.top-column-left__list-item::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0;
    top: 5px;
    border-radius: 50%;
    background-color: black;
}

.top-column-left__img {
    max-width: 517px;
    width: 100%;
    /* height: 290px; */
    /* margin-left: 70px; */
    /* padding-left: 4.375rem; */
}

.top-column-right {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tally--mod-mb4-r {
    position: relative;
    width: 378px;
    left: 62px;
    top: 0px;
}

.tally--mod-mb4-r::after {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% - 8px);
    left: -2px;
    top: 4px;
    bottom: 5px;
    background: url('../img/reasons/circle.svg') 0 0/ 4px 4px repeat-y;
}

.tally--mod-mb4-r::before {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% - 8px);
    left: 376px;
    top: 4px;
    bottom: 5px;
    background: url('../img/reasons/circle.svg') 0 0/ 4px 4px repeat-y;
}

.top-column-right__list {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 535px; */
    /* padding-top: 43px; */
    padding-top: 2.6875rem;
    /* padding-left: 62px; */
    padding-left: 9.85%;
}

.top-column-right__list-item {
    position: relative;
    width: 244px;
    padding-left: 46px;

    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 18px; */
    line-height: 1.125rem;
}

.top-column-right__list-item:not(:last-child, :nth-child(even)) {
    /* margin-right: 47px; */
    margin-right: 8.3%;
}

.top-column-right__list-item:not(:last-child) {
    /* padding-bottom: 60px; */
    padding-bottom: 3.75rem;
}

.top-column-right__list-item::before {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    top: -6px;
    border-radius: 50%;
    background: radial-gradient(#651FFF 20%, transparent 20% 40%, #FCBF14 40% 100%);
    animation: front-rotation 5s ease-in-out infinite normal running 0s none;
}

.top-column-right__text {
    display: flex;
    /* align-items: flex-end; */
    box-sizing: content-box;
    /* padding-top: 108px; */
    padding-top: 7.375rem;
    /* padding-left: 60px; */
    padding-left: 9.999%;
    /* padding-bottom: 60px; */
    padding-bottom: 3.75rem;
}

.icon-mac {
    width: 1.15em;
    /* font-size: 90px; */
    font-size: 5.625rem;
    line-height: 1rem;
}

.top-column-right__text p {
    max-width: 333px;
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 1.125rem;
    /* line-height: 24px; */
    line-height: 1.5rem;
    /* padding-left: 34px; */
    padding-left: 2.125rem;
}

.reasons__btn {
    position: relative;
    height: 60px;
    width: 326px;
    background-color: black;
    line-height: calc(28 / 24 * 100%);
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    transition-duration: 0.6s, 1s;
    transition-property: color, background-color;
}

.reasons__btn:hover{
    background-color: transparent;
    color: #000000;
    border: 3px solid black;
}
.reasons__btn:hover::after{
    top: 26px;
    left: 323px;
    border-top: 30px solid black;
    border-right: 15px solid transparent;
}
.reasons__btn:hover::before{
    top: -3px;
    left: 323px;
    border-right: 15px solid transparent;
    border-bottom: 30px solid black;
}

.reasons__btn::after {
    content: '';

    position: absolute;
    left: 326px;
    top: 30px;

    border-top: 30px solid black;
    border-right: 15px solid transparent;
}

.reasons__btn::before {
    content: '';

    position: absolute;
    left: 326px;
    top: 0px;

    border-right: 15px solid transparent;
    border-bottom: 30px solid black;
}

/* ////////////////////////////////////////////////// */
.bot-column {
    background: #7224EA;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 
    0px 16px 24px rgba(0, 0, 0, 0.08);
    max-width: 1210px;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    /* flex-wrap: wrap; */
}
.bot-column__container{
    display: flex;
    /* flex-wrap: wrap; */
}
.bot-column__title {
    width: 100%;
    /* min-height: 46px; */
    min-height: 2.875rem;
    /* padding-top: 47px; */
    padding-top: 2.9375rem;
    /* padding-left: 21px; */
    padding-left: 1.3125rem;
    /* padding-bottom: 48px; */
    padding-bottom: 3rem;
}

.bot-column__title h2 {
    font-weight: 700;
    /* font-size: 32px; */
    font-size: 2rem;
    /* line-height: 46px; */
    line-height: 2.875rem;
    color: #FFFFFF;
}

.bot-column__left {
    /* position: relative; */
    display: flex;
    /* padding-left: 21px; */
    padding-left: 1.3125rem;
    /* padding-bottom: 77px; */
    padding-bottom: 4.8125rem;
    /* margin-right: 210px; */
    margin-right: 17.85%;
}

.left-b-c-icon {
    /* position: absolute; */
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    margin-right: 1.25rem;
    animation: front-rotation 5s ease-in-out infinite normal running 0s none;
}

.icon-shop {
    /* font-size: 28px; */
    font-size: 1.75rem;
    color: #FDBF0F;
}

.left-b-c-text {
    max-width: 286px;
    padding-top: 6px;
}

.left-b-c-text h3 {
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 1.125rem;
    /* line-height: 21px; */
    line-height: 1.3125rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /* padding-bottom: 13px; */
    padding-bottom: 0.8125rem;
}

.left-b-c-text p {
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 16px; */
    line-height: 1rem;
    color: #FFFFFF;
}

.bot-column__right {
    display: flex;
    /* padding-bottom: 77px; */
    padding-bottom: 4.8125rem;
}

.right-b-c-icon {
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    margin-right: 1.25rem;
    animation: front-rotation 5s ease-in-out infinite normal running 0s none;
}

.icon-factory {
    /* font-size: 28px; */
    font-size: 1.75rem;
    color: #FDBF0F;
}

.right-b-c-text {
    max-width: 316px;
    padding-top: 6px;
}

.right-b-c-text h3 {
    font-weight: 700;
    /* font-size: 18px; */
    font-size: 1.125rem;
    /* line-height: 21px; */
    line-height: 1.3125rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /* padding-bottom: 13px; */
    padding-bottom: 0.8125rem;
}

.right-b-c-text p {
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 16px; */
    line-height: 1rem;
    color: #FFFFFF;
}

@media (max-width: 1250px) {
    .top-column-right__list {
        flex-direction: column;
    }

    .top-column-right__list-item {
        width: 330px;

    }

    .top-column-right {
        max-width: 435px;

    }

    .tally--mod-mb4-r {
        width: 250px;
        /* left: 38px; */
    }

    .tally--mod-mb4-r::before {
        left: 248px;
    }

    .top-column-right__text {
        padding-top: 5.375rem;
        /* padding-left: 60px; */
        padding-left: 9.999%;
        /* padding-bottom: 60px; */
        padding-bottom: 2.9rem;
    }

    .reasons__btn {
        margin-bottom: 2rem;
    }

    .top-column-right__list-item:not(:last-child) {
        /* padding-bottom: 60px; */
        padding-bottom: 2.2rem;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .top-column {
        flex-direction: column;
    }

    .top-column-right {
        max-width: 100%;

    }

    .top-column-left {
        border: none;
        max-width: 100%
    }

    .top-column-left__img {
        margin: 0 auto;
    }

    .tally--mod-mb4-r {
        left: 30px;
    }

    .top-column-right__text {
        padding-top: 5.375rem;
        /* padding-left: 60px; */
        padding-left: 0;
        margin: 0 auto;
        /* padding-bottom: 60px; */
        padding-bottom: 2.9rem;
    }
    .bot-column__container{
        flex-wrap: wrap;
    }
    .bot-column__left {
        padding-left: 7%;
        margin-right: 0;
    }
    .bot-column__right {
        padding-left: 7%;
    }

}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }
    .tally--mod-mb4-l {
        left: 0px;
        margin: 0 auto;
    }
    .tally--mod-mb4-r {
        left: 0px;
        margin: 0 auto;
    }

    .reasons__btn {
        margin-left: 10px;
    }
    .bot-column__left {
        padding-bottom: 2.8125rem;
        padding-left: 3%;
    }
    .bot-column__right {
        padding-bottom: 2.8125rem;
        padding-left: 3%;
    }
}