
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-rub:before { content: '\e803'; } /* '' */
.icon-airplane:before { content: '\e804'; } /* '' */
.icon-arrow:before { content: '\e805'; } /* '' */
.icon-calculator:before { content: '\e806'; } /* '' */
.icon-factory:before { content: '\e807'; } /* '' */
.icon-mac:before { content: '\e808'; } /* '' */
.icon-shop:before { content: '\e809'; } /* '' */
